<h1>Rota raiz, se isso está funcionando o servidor também está</h1>
<h2>ROTAS:</h2>
<h3>
    / <br>
    /form <br>
    /formrecebido (POST) <br>
    /form_sucesso (POST) <br>
    /form_erro    (POST)
</h3>